*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 45, 142);
    flex-direction: column;
    align-items: center;
}

header{
    color: #ffffff;
    margin-top: 20px;
}

#night-light-mode{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80px;
    background-color: white;
    border-radius: 20px;
}

main{
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 450px;
}

input[type="text"]{
    width: 200px;
    height: 50px;
    border: none;
    font-size: 1em;
}
input[type="text"]:focus{
    outline: none;
}

.task{
    border-radius: 40px;
    /*padding-top: 50px;*/
    border: 2px solid rgb(93, 93, 93);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.task-item{
    position: relative;
    padding: 10px;
    min-height: 50px;
    margin-top: 30px;
    width: 400px;
    justify-content: start;
    
}

.task-item span.material-symbols-outlined:nth-child(2){
    margin-left: 50px;
}

span.material-symbols-outlined{
    color: black;
    cursor: pointer;
    margin-left: 10px;
}

p{
    width: 200px;
    word-wrap: inherit;
    margin-left: 40px;
}

.checked{
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
.checked span{
    color: rgba(0, 0, 0, 0.5);
    
}
.checked p{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

#texto-concluidos{
    padding-top: 10px;
}

#caixa-edit{
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
}

#area-edit{
    position: relative;
    height: 200px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    border: 2px solid black;
}

#texto-editado{
    border-bottom: 2px solid black;
    width: 400px;
    padding: 0px;
}
#botoes-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#botoes-edit .material-symbols-outlined{
    font-size: 2.5em;
}
#botoes-edit button:hover{
    background-color: none;
}
button{
    cursor: pointer;
    padding: 0px;
    margin: 15px;
    font-size: 1em;
    background: none;
    border: none;
    color: black;
    border-radius: 5px;
}

main #caixa-edit.hidden {
    display: none;
}
#caixa-edit .hidden{
    display: none;
}