*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-light: #ffffff;
    --cor-dark: #02133d;
    --cor-light-secundaria: #242424;
}
body.dark-mode{
    background-color: rgb(2, 19, 61);
    transition: 0.5s;
}
body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-light);
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.dark-mode header{
    color: var(--cor-light);
}
header{
    position: relative;
    color: var(--cor-light-secundaria);
    margin-top: 20px;
    width: 470px;
    text-align: center;
}

/*.dark-mode #night-light-mode{
    background-color: ;
}*/
.dark-mode #night-light-mode{
    background-color: var(--cor-light);
}

#night-light-mode{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80px;
    height: 40px;
    background-color: var(--cor-light-secundaria);
    border-radius: 50px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.dark-mode #toggle-circle{
    background-color: rgb(2, 19, 61);
    
}

#toggle-circle{
    user-select: none;
    background-color: var(--cor-light);
    position: absolute;
    aspect-ratio: 1/1;
    margin-left: -2px;
    border-radius: 50px;
    padding: 9px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: start;
    gap: 22px;
    left: 0px;
    transition: left 0.5s;
}

.dark-mode #toggle-circle{
    left: 42px;
    transition: left 0.5s;
}

#toggle-circle span{
    margin: 0px;
}

.dark-mode #light-icon{
    display: none;
}
#light-icon{
    color: #000000;
}

#dark-icon{
    color: #ffffff;
    display: none;
}
.dark-mode #dark-icon{
    display: block;
}

.dark-mode main{
    background-color: var(--cor-light);
    transition: background-color 0.5s;
}

main{
    transition: background-color 0.5s;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--cor-light-secundaria);
    width: 450px;
}

input[type="text"]{
    width: 200px;
    height: 50px;
    border: none;
    font-size: 1em;
}
input[type="text"]:focus{
    outline: none;
}

.task{
    border-radius: 40px;
    /*padding-top: 50px;*/
    border: 2px solid rgb(93, 93, 93);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.task-item{
    position: relative;
    padding: 10px;
    min-height: 50px;
    margin-top: 30px;
    width: 400px;
    justify-content: start;
    
}

.task-item span.material-symbols-outlined:nth-child(2){
    margin-left: 50px;
}

span.material-symbols-outlined{
    color: black;
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
}

p{
    width: 200px;
    word-wrap: inherit;
    margin-left: 40px;
}

.checked{
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
.checked span{
    color: rgba(0, 0, 0, 0.5);
    
}
.checked p{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

#texto-concluidos{
    padding-top: 10px;
}

#caixa-edit{
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
    
}

#area-edit{
    position: relative;
    height: 200px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    border: 2px solid black;
    opacity: 100%;
    transition: 1s;
}

#texto-editado{
    border-bottom: 2px solid black;
    width: 400px;
    padding: 0px;
}
#botoes-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#botoes-edit .material-symbols-outlined{
    font-size: 2.5em;
}
#botoes-edit button:hover{
    background-color: none;
}
button{
    user-select: none;
    cursor: pointer;
    padding: 0px;
    margin: 15px;
    font-size: 1em;
    background: none;
    border: none;
    color: black;
    border-radius: 5px;
    
}

main #caixa-edit.hidden {
    display: none;
}

