*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 45, 142);
    flex-direction: column;
    align-items: center;
    
}

main{
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 450px;
}
button{
    cursor: pointer;
    padding: 10px;
    margin:0 10px;
    font-size: 1em;
    background: none;
    border: none;
    color: black;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(166, 166, 166);
    color: white;
}

input[type="text"]{
    width: 200px;
    height: 50px;
    border: none;
    font-size: 1em;
}
input[type="text"]:focus{
    outline: none;
}


.task{
    border-radius: 40px;
    /*padding-top: 50px;*/
    border: 2px solid rgb(93, 93, 93);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.task-item{
    position: relative;
    padding: 10px;
    min-height: 50px;
    margin-top: 30px;
    width: 400px;
    justify-content: start;
    
}

.task-item span.material-symbols-outlined:nth-child(2){
    margin-left: 50px;
}

span.material-symbols-outlined{
    color: black;
    cursor: pointer;
    margin-left: 10px;
}

p{
    width: 200px;
    word-wrap: inherit;
    margin-left: 40px;
}

.checked{
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
.checked span{
    color: rgba(0, 0, 0, 0.5);
    
}
.checked p{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

#concluidos{
    margin-top: 20px;
    font-size: 1.3em;
}